@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your the mock-off Reddit. To create posts you need to register. Find buttons yourself, there is no user guide. Viewing posts is possible without an account.