@page "/Register"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@using BlazorWASM.Services
@inject IAuthService _authService
@inject NavigationManager navMgr;
<div class="card">
    <h3>Create User</h3>
    <div class="form-group field">
        <label>Username:</label>
        <input type="text" @bind="username" @bind:event="oninput"/>
        <label>Password:</label>
        <input type="password" @bind="password" @bind:event="oninput"/>
        @if (!string.IsNullOrEmpty(resultMsg))
        {
            <label style="color: @color">@resultMsg</label>
        }
    </div>
    <div class="button-row">
        <button @onclick="CreateAsync" disabled="@(string.IsNullOrEmpty(username))" class="acceptbtn">Create</button>
    </div>
</div>

@code {
    private string username = "";
    private string password = "";
    private string resultMsg = "";
    private string color = "";

    private async Task CreateAsync()
    {
        resultMsg = "";

        try
        {
            await _authService.RegisterAsync(new UserCreationDTO(username, password));
            username = "";
            password = "";
            resultMsg = "User successfully created";
            color = "green";
            navMgr.NavigateTo("/login");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }
}